{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Friend Saver</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'lib/single/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'lib/single/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'discord.ico' %}" type="image/x-icon">
    <script src="{% static 'lib/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'lib/single/js/jquery.js' %}"></script>
    <script src="{% static 'lib/single/js/popper.js' %}"></script>
</head>

<body style="background: url('{% static 'shared/img/background.jpg' %}')" class="background">
    {% block content %}
    {% endblock content %}
</body>

</html>