{% load static %}

<!DOCTYPE html>
<html lang="en-US">

{% load pwa %}
{% progressive_web_app_meta %}
<link rel="manifest" href="manifest.json">x

<head>
    <meta charset="UTF-8">
    <meta name="application-name" content="Discord Friends">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="django discord github python">
    <meta name="description" content="Backup your discord friends incase of account loss">
    <meta name="author" content="LokotamaTheMastermind">
    <title>Discord Friends</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'lib/single/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'shared/css/site.css' %}">
    <link rel="shortcut icon" href="{% static 'discord.ico' %}" type="image/x-icon">
    <script src="{% static 'lib/single/js/jquery.js' %}"></script>
    <script src="{% static 'lib/single/js/popper.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.js' %}"></script>
</head>

<body style="background: url('{% static 'shared/img/background.jpg' %}')" class="background">
    {% block content %}
    {% endblock content %}
</body>

</html>