{% extends 'shared/base2.html' %}
{% load static %}

{% block content %}

<body style="background: url('{% static 'shared/img/background.jpg' %}')" class="background"
    onload="automaticDownload('{% static " discord_friends.txt" %}');">
    <div class="container centered">
        <h6 class="lead text-center">The download should start soon. If it doesn't start click
            this
            <a href="{% static 'discord_friends.txt' %}" download id="downloadLink">link</a>
        </h6>
        <div class="lds-ellipsis" style="margin-left: 45%;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <script type="text/javascript">

        // Automatic download on page load
        function automaticDownload() {
            var link = document.getElementById('downloadLink');

            link.download = 'download';

            link.click();
        }
    </script>

</body>

{% endblock content %}