{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<!-- VIEW - Main -->
<section>
    <div class="container">
        <div style="margin-top: 10%">
            <div class="card bg-secondary text-white-50 mx-auto" style="opacity: .7; width: 50%;">
                <div class="card-body">
                    <img src="{% static 'shared/img/discord-avatar.png' %}" alt="Discord Avatar"
                        class="rounded-circle card-img w-auto h-auto d-block mx-auto">
                    <h4 class="text-white h4 text-center mt-2">{{ friend.username }}#{{ friend.tag }}</h4>
                    <h5 class="text-white h5 float-right mt-2">User ID - {{ friend.user_id }}</h5>
                </div>
            </div>
            <a class="float-right btn btn-secondary mt-2" style="opacity: .7; margin-right: 25%;"
                href="{% url 'friends:homepage' %}">Homepage <i class="fa fa-long-arrow-alt-right"></i></a>
        </div>
    </div>

    <small class="fixed-bottom text-white-50">Copyright © 2020 - LokotamaTheMastermind</small>
</section>
{% endblock content %}